<a href="https://colab.research.google.com/github/Soumya-Eppala/YBIfoundationPractice/blob/main/Practice_Project_Chance_of_Admission_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Student Chance of Admission Prediction in Higher Studies**

Predict the chances of admission of a student to a University fro Graduate program based on different parameters such as:

GRE Scores (290 to 340) TOEFL Scores (92 to 120) University Rating (1 to 5) Statement of Purpose (1 to 5) Letter of Recommendation Strength (1 to 5) Undergraduate CGPA (6.8 to 9.92) Research Experience (0 or 1) Chance of Admit (0.34 to 0.97)

Dataset : https://github.com/ybifoundation/Dataset/raw/main/Admission%20Chance.csv

In [39]:
#importing required modules
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [3]:
admission=pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Admission%20Chance.csv')
admission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [4]:
admission.describe

<bound method NDFrame.describe of      Serial No  GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  \
0            1        337          118                  4   4.5   4.5  9.65
1            2        324          107                  4   4.0   4.5  8.87
2            3        316          104                  3   3.0   3.5  8.00
3            4        322          110                  3   3.5   2.5  8.67
4            5        314          103                  2   2.0   3.0  8.21
..         ...        ...          ...                ...   ...   ...   ...
395        396        324          110                  3   3.5   3.5  9.04
396        397        325          107                  3   3.0   3.5  9.11
397        398        330          116                  4   5.0   4.5  9.45
398        399        312          103                  3   3.5   4.0  8.78
399        400        333          117                  4   5.0   4.0  9.66

     Research  Chance of Admit
0           1              0.92
1           1              0.76
2           1              0.72
3           1              0.80
4           0              0.65
..        ...               ...
395         1              0.82
396         1              0.84
397         1              0.91
398         0              0.67
399         1              0.95

[400 rows x 9 columns]>

In [6]:
admission.shape

(400, 9)

In [7]:
admission.corr

<bound method DataFrame.corr of      Serial No  GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  \
0            1        337          118                  4   4.5   4.5  9.65
1            2        324          107                  4   4.0   4.5  8.87
2            3        316          104                  3   3.0   3.5  8.00
3            4        322          110                  3   3.5   2.5  8.67
4            5        314          103                  2   2.0   3.0  8.21
..         ...        ...          ...                ...   ...   ...   ...
395        396        324          110                  3   3.5   3.5  9.04
396        397        325          107                  3   3.0   3.5  9.11
397        398        330          116                  4   5.0   4.5  9.45
398        399        312          103                  3   3.5   4.0  8.78
399        400        333          117                  4   5.0   4.0  9.66

     Research  Chance of Admit
0           1              0.92
1           1              0.76
2           1              0.72
3           1              0.80
4           0              0.65
..        ...               ...
395         1              0.82
396         1              0.84
397         1              0.91
398         0              0.67
399         1              0.95

[400 rows x 9 columns]>

In [8]:
admission.nunique()

Serial No            400
GRE Score             49
TOEFL Score           29
University Rating      5
 SOP                   9
LOR                    9
CGPA                 168
Research               2
Chance of Admit       60
dtype: int64

In [10]:
admission.value_counts()

Serial No  GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  Research  Chance of Admit
1          337        118          4                  4.5   4.5   9.65  1         0.92                1
264        324        111          3                  2.5   1.5   8.79  1         0.70                1
274        312        99           1                  1.0   1.5   8.01  1         0.52                1
273        294        95           1                  1.5   1.5   7.64  0         0.49                1
272        299        96           2                  1.5   2.0   7.86  0         0.54                1
                                                                                                     ..
131        339        114          5                  4.0   4.5   9.76  1         0.96                1
130        333        118          5                  5.0   5.0   9.35  1         0.92                1
129        326        112          3                  3.5   3.0   9.10  1         0.84                1
128        319        112          3                  2.5   2.0   8.71  1         0.78                1
400        333        117          4                  5.0   4.0   9.66  1         0.95                1
Length: 400, dtype: int64

In [9]:
admission.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [20]:
y=admission['Chance of Admit ']

In [22]:
X=admission[['GRE Score','TOEFL Score','University Rating',' SOP','LOR ','CGPA','Research']]

In [23]:
X.shape

(400, 7)

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=2435)

In [25]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((280, 7), (120, 7), (280,), (120,))

In [26]:
X_train

     GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  Research
0          337          118                  4   4.5   4.5  9.65         1
392        326          112                  4   4.0   3.5  9.12         1
360        322          110                  3   4.0   5.0  8.64         1
116        299          102                  3   4.0   3.5  8.62         0
371        324          110                  3   3.5   3.0  9.22         1
..         ...          ...                ...   ...   ...   ...       ...
332        308          106                  3   3.5   2.5  8.21         1
222        324          113                  4   4.5   4.0  8.79         0
246        316          105                  3   3.0   3.5  8.73         0
337        332          118                  5   5.0   5.0  9.47         1
244        314          107                  2   2.5   4.0  8.56         0

[280 rows x 7 columns]

In [28]:
X_test

     GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  Research
172        322          110                  4   4.0   5.0  9.13         1
135        314          109                  4   3.5   4.0  8.77         1
225        296           99                  2   2.5   2.5  8.03         0
170        312          101                  2   2.5   3.5  8.04         1
197        310          106                  2   3.5   2.5  8.33         0
..         ...          ...                ...   ...   ...   ...       ...
104        326          112                  3   3.5   3.0  9.05         1
394        329          111                  4   4.5   4.0  9.23         1
247        311          104                  2   2.5   3.5  8.48         0
169        311           99                  2   2.5   3.0  7.98         0
124        301          106                  4   2.5   3.0  8.47         0

[120 rows x 7 columns]

In [29]:
y_train

0      0.92
392    0.84
360    0.85
116    0.56
371    0.89
       ...
332    0.75
222    0.76
246    0.72
337    0.94
244    0.63
Name: Chance of Admit , Length: 280, dtype: float64

In [30]:
y_test

172    0.86
135    0.82
225    0.61
170    0.68
197    0.73
       ...
104    0.74
394    0.89
247    0.71
169    0.65
124    0.57
Name: Chance of Admit , Length: 120, dtype: float64

In [36]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [38]:
y_pred=model.predict(X_test)

In [40]:
mean_absolute_error(y_test,y_pred)

0.04749840760239713

In [41]:
mean_absolute_percentage_error(y_test,y_pred)

0.07896132088972153

In [42]:
mean_squared_error(y_test,y_pred)

0.004658410574351474