<a href="https://colab.research.google.com/github/Soumya-Eppala/YBIfoundationPractice/blob/main/Practice_Project_Fish_Species_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fish Species Prediction**

Identify the category of fish from 7 common different fish species.

Dataset : https://github.com/ybifoundation/Dataset/raw/main/Fish.csv

In [37]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report

In [38]:
fish=pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Fish.csv')
fish

     Category Species  Weight   Height   Width  Length1  Length2  Length3
0           1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1           1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2           1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3           1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4           1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0
..        ...     ...     ...      ...     ...      ...      ...      ...
154         6   Smelt    12.2   2.0904  1.3936     11.5     12.2     13.4
155         6   Smelt    13.4   2.4300  1.2690     11.7     12.4     13.5
156         6   Smelt    12.2   2.2770  1.2558     12.1     13.0     13.8
157         6   Smelt    19.7   2.8728  2.0672     13.2     14.3     15.2
158         6   Smelt    19.9   2.9322  1.8792     13.8     15.0     16.2

[159 rows x 8 columns]

In [39]:
fish.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [40]:
y=fish['Category']
X=fish[['Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3']]

In [41]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=3421)
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((111, 6), (111,), (48, 6), (48,))

In [42]:
model=KNeighborsClassifier()

In [43]:
model.fit(X_train,y_train)

KNeighborsClassifier()

In [44]:
y_pred=model.predict(X_test)

In [45]:
accuracy_score(y_test,y_pred)

0.5208333333333334

In [46]:
confusion_matrix(y_test,y_pred)

array([[9, 0, 2, 0, 0, 0, 0],
       [0, 0, 3, 0, 1, 0, 0],
       [4, 0, 8, 0, 2, 2, 0],
       [2, 0, 1, 3, 0, 0, 0],
       [0, 0, 4, 0, 2, 0, 0],
       [0, 0, 0, 0, 0, 3, 0],
       [0, 0, 2, 0, 0, 0, 0]])

In [47]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       0.60      0.82      0.69        11
           2       0.00      0.00      0.00         4
           3       0.40      0.50      0.44        16
           4       1.00      0.50      0.67         6
           5       0.40      0.33      0.36         6
           6       0.60      1.00      0.75         3
           7       0.00      0.00      0.00         2

    accuracy                           0.52        48
   macro avg       0.43      0.45      0.42        48
weighted avg       0.48      0.52      0.48        48

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))